# Dictionaries in Python

In [47]:
# List, Tuple, and List is ordered collection of objects.
# But a dictionary is a collection of key-value pairs.

# Dictionaries in Python
# A dictionary is a collection of key-value pairs
# Each key is unique and maps to a value

# Mutability:
# Keys must be immutable (e.g., strings, numbers, tuples), while values can be of any data type.
# Dictionaries are mutable, meaning their contents can be changed after creation.
# You can add new key-value pairs, modify existing values, or remove pairs.

# Uniqueness of Keys:
# Keys must be unique within a dictionary. If a duplicate key is used, the previous value is overwritten.

# Non sequential, unordered collection
# Unordered, mutable, and indexed

In [48]:
# Find item in a list
list1 = [1, 2, 3, 4, 5]
print(list1)
print('10 in list1 is:', 10 in list1)  # Returns True if 10 is in list1, otherwise False

# Here computer needs to check each item in the list.

# So dictionaries are more efficient for lookups

[1, 2, 3, 4, 5]
10 in list1 is: False

In [49]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Panvel'}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'Panvel'}

In [50]:
'Alice' in my_dict
# Returns True if 'Alice' is a key in my_dict, otherwise False
# as we know, 'Alice' is not a key in my_dict, so it returns False

False

In [51]:
'name' in my_dict
# Returns True if 'name' is a key in my_dict, otherwise False
# as we know, 'name' is a key in my_dict, so it returns True

True

In [52]:
# Find item in a dictionary
'Alice' in my_dict.values() # Returns True if 'Alice' is a value in my_dict, otherwise False

True

In [53]:
# Find key in a dictionary
'name' in my_dict

True

In [54]:
my_dict['name']

'Alice'

In [55]:
my_dict['age']

30

In [56]:
my_dict['city']

'Panvel'

In [57]:
dict1 = {
    'name': ['Ram', 'Shyam', 'Sita'],
    'age': [25, 22, 18],
    'city': ['Mumbai', 'Chicago', 'Manchester']
}

In [58]:
# Add key-value pair to dictionary
dict1['country'] = ['India', 'USA', 'UK']

In [59]:
dict1

{'name': ['Ram', 'Shyam', 'Sita'],
 'age': [25, 22, 18],
 'city': ['Mumbai', 'Chicago', 'Manchester'],
 'country': ['India', 'USA', 'UK']}

In [60]:
# Delete key-value pair from dictionary
del dict1['city']
dict1

{'name': ['Ram', 'Shyam', 'Sita'],
 'age': [25, 22, 18],
 'country': ['India', 'USA', 'UK']}

In [61]:
dict1['continent'] = ['Asia', 'North America', 'Europe']

In [62]:
# Check length of dictionary
len(dict1)  # Returns the number of key-value pairs in dict1

4

In [63]:
# Check key existence
'name' in dict1

True

In [64]:
# Check if a key exists in the dictionary
'city' in dict1

False

In [65]:
# Check if a value exists in the dictionary
'India' in dict1.values()

False

In [66]:
# Check value existence
'Asia' in dict1.values()

False

In [67]:
# Find item in a dictionary
print(dict1)
any('India' in value for value in dict1.values())

{'name': ['Ram', 'Shyam', 'Sita'], 'age': [25, 22, 18], 'country': ['India', 'USA', 'UK'], 'continent': ['Asia', 'North America', 'Europe']}

True

In [68]:
dict1.keys()

dict_keys(['name', 'age', 'country', 'continent'])

In [69]:
dict1.values()

dict_values([['Ram', 'Shyam', 'Sita'], [25, 22, 18], ['India', 'USA', 'UK'], ['Asia', 'North America', 'Europe']])

In [70]:
dict1.items()

dict_items([('name', ['Ram', 'Shyam', 'Sita']), ('age', [25, 22, 18]), ('country', ['India', 'USA', 'UK']), ('continent', ['Asia', 'North America', 'Europe'])])

In [71]:
dict1.get('name') # Returns the value associated with the key 'name'

['Ram', 'Shyam', 'Sita']

In [72]:
dict1['name']  # Returns the list of names

['Ram', 'Shyam', 'Sita']

In [73]:
dict1.items()  # Returns a view object that displays a list of dictionary's key-value tuple pairs

dict_items([('name', ['Ram', 'Shyam', 'Sita']), ('age', [25, 22, 18]), ('country', ['India', 'USA', 'UK']), ('continent', ['Asia', 'North America', 'Europe'])])

In [74]:
my_table_from_dict ={
    'name': ['Ram', 'Shyam', 'Sita'],
    'age': [25, 22, 18],
    'city': ['Mumbai', 'NY', 'London'],
    'country': ['India', 'USA', 'UK'],
    'continent': ['Asia', 'North America', 'Europe']
}

In [75]:
my_table_from_dict

{'name': ['Ram', 'Shyam', 'Sita'],
 'age': [25, 22, 18],
 'city': ['Mumbai', 'NY', 'London'],
 'country': ['India', 'USA', 'UK'],
 'continent': ['Asia', 'North America', 'Europe']}

In [76]:
# Keys, values, and items in a dictionary
dict123 = {'name': 'Shyam', 'age': 22, 'city': 'Pune'}

In [77]:
dict123.keys()

dict_keys(['name', 'age', 'city'])

In [78]:
dict123.values()

dict_values(['Shyam', 22, 'Pune'])

In [79]:
dict123.items()

dict_items([('name', 'Shyam'), ('age', 22), ('city', 'Pune')])

In [80]:
# Operations on dictionaries

In [81]:
dict123.update({'country': 'India'}) # Adds a new key-value pair to the dictionary

In [82]:
dict123

{'name': 'Shyam', 'age': 22, 'city': 'Pune', 'country': 'India'}

In [83]:
dict123.pop('country') # Removes the country key-value pair and returns it

'India'

In [84]:
dict123.get('name') # Returns the value associated with the key 'name'

'Shyam'