# Sets in Python

In [3]:
# Unordered, mutable collection of immutable objects.
# Can not contain duplicates.
# Used to store unique items.
# Do not support indexing, slicing, or other sequence-like behavior. But supports min(), max(), len(), and in operator.
# Created with curly braces just like dictionary or the set() constructor.

In [4]:
my_set = {1, 2, 3, 4, 5}

In [5]:
type(my_set)

set

In [6]:
# Adding items to a set
my_set.add(191)

In [7]:
my_set

{1, 2, 3, 4, 5, 191}

In [8]:
# Removing items from a set
my_set.remove(1)

In [9]:
my_set

{2, 3, 4, 5, 191}

In [10]:
min(my_set)

2

In [11]:
max(my_set)

191

In [12]:
sum(my_set)

205

In [13]:
2 in my_set

True

In [14]:
len(my_set)

5

##### Set Operations #####

In [15]:
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}

# union of two sets
my_set1.union(my_set2)

{1, 2, 3, 4, 5}

In [16]:
# intersection of two sets
my_set1.intersection(my_set2)

{3}

In [17]:
# difference of two sets
my_set1.difference(my_set2)
# returns elements in my_set1 that are not in my_set2

{1, 2}

In [18]:
# subset of another set
my_set1.issubset(my_set2)

False

In [19]:
# Get unique items from a list
my_list = [1, 2, 3, 4, 5, 1, 2, 3]
my_unique_set = set(my_list)
my_unique_set

{1, 2, 3, 4, 5}

In [20]:
# Stripping out duplicates from a list
my_list_duplicates = [1, 2, 3, 4, 5, 1, 2, 3]
my_list_no_duplicates = list(set(my_list_duplicates))
my_list_no_duplicates

[1, 2, 3, 4, 5]